/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

img.background-image {
  width: 100%;
  height: auto;
}

.card .card-action {
  padding: 10px 0 0 0;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    margin-right: 5px;
}

.save, .comment, .view {
  float: right;
  font-size: 22px;
}

.view {
  margin-left: 10%;
  margin-right: 10%;
}

.saved-header {
  padding-top: 6%;
}

#submit {
  position: relative;
  top: 15px;
}

.brand-logo {
  font-family: 'Oswald';
}

#nglogo {
  width: 30px;
  height: auto;
  position: relative;
  top: 7px;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  
  .save {
    float: none;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .save {
    float: none;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}